<!--< rugs.each do |rug| %>-->
<% Rug.all.each do |rug| %>
  <div class="col-md-4">
    <div class="">
            <div class="panel-heading preview">
        <%= link_to image_tag(rug.cover_photo(:medium)) %>
      </div>
      <div class="">
        <div class="">
          <span class="" style="font-size: 1.2em; bold;"><%= link_to rug.listing_name, rug %></span></br>
          <span class="" style=""><span id="star_<%= rug.id %>"></span>&nbsp;<%= pluralize(rug.guest_reviews.count, "review") %>
        </div>
        <b>$<%= rug.price %></b>
      </div>
    </div>
  </div>
  
  <script>
    $('#star_<%= rug.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= rug.average_rating %>
    });
  </script>
<% end %>