<section class="">
  <div class="container">    
    <div class="row">
      <div class="col-md-9-offset-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Create Listing
          </div>
          <div class="panel-body">
            <div class="container">
    
              <%= form_for @rug do |f| %>
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Rug Type</label>
                    <%= f.select :rug_type, [["Small", "Small"], ["Medium", "Medium"], ["Large", "Large"], ["Extra Large", "Extra Large"]],
                      id: "rug_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Rug Size</label>
                    <%= f.select :size, [["10x10", "10x10"], ["12x12", "12x12"], ["13x13", "13x13"]],
                      id: "size", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
                
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Ship Time</label>
                    <%= f.select :shiptime, [["5 Days", "5 Days"], ["10 Days", "10 Days"], ["15 Days", "15 Days"]],
                      id: "shiptime", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>

                <div class="col-md-12 text-center">
                  <div><%= f.submit "Create Listing", class: "btn btn-normal" %> 
                </div>
    
              <% end %>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>  