<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-list">
          <% if current_user && current_user.id == 1 %>
          <li class="sidebar-item"><%= link_to "Current Listings", bouncehouses_path, class: "sidebar-link active" %></li>
          <% else %>
          <li class="sidebar-item"><%= link_to "Current Reservations", current_reservations_path, class: "sidebar-link" %></li>
          <li class="sidebar-item"><%= link_to "Previous Reservations", previous_reservations_path, class: "sidebar-link" %></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            Listings
          </div>
          
          <div class="panel-body">
            <div class="container">
              <% @bouncehouses.each do |bouncehouse| %>
                <div class="container-fluid">
                  <div class="row">
                    <div class="container-fluid">
                      <div class="col-md-2">
                        <%= image_tag bouncehouse.cover_photo(:thumb) %>
                      </div>
                      <div class="col-md-7">
                        <h5><%= bouncehouse.listing_name %></h5>
                      </div>
                      <div class="col-md-2">
                        <%= link_to "Update", listing_bouncehouse_path(bouncehouse), class: "btn btn-form" %>
                      </div>
                    </div>  
                  </div>  
                </div>
                <hr/>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  