<section>
  <div class="container">
    <!-- Image -->
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @bouncehouse.cover_photo(nil), width: "100%" %>
      </div>
    </div>
    <br/>
    
    <div class="row">
      
      <!-- LEFT PANEL -->
      <div class="col-md-8">
        <!-- Listing Name -->
        <div class="container">
          <div class="row">
            <div class="col-md-9">
            <h2><%= @bouncehouse.listing_name %></h2>
                <%= @bouncehouse.address %>
            </div>&nbsp;
    
            <div class="col-md-3 text-center">
              <div>
                <span id="average_rating"></span>
              </div>
              <div class="center">
                <% if current_user && current_user != @user %>
                  <%= link_to "Send A Message", conversations_path(sender_id: current_user.id, recipient_id: @bouncehouse.user.id), method: :post, class: "btn btn-default" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>  
        <hr/>
          
        <!-- bouncehouse Info -->
        <div class="container">
          <div class="row text-center">
            <div class="col-xs-3 col-sm-3 col-md-3">
              <i class="fas fa-home fa-2x"></i>
            </div>
            <!--<div class="col-xs-3 col-sm-3 col-md-3">-->
            <!--  <i class="fa fa-clock fa-2x"></i>-->
            <!--</div>-->
            <!--<div class="col-xs-3 col-sm-3 col-md-3">-->
            <!--  <i class="fas fa-toilet fa-2x"></i>-->
            <!--</div>-->
            <!--<div class="col-xs-3 col-sm-3 col-md-3">-->
            <!--  <i class="fas fa-life-ring fa-2x"></i>-->
            <!--</div>-->
          </div>
        
          <div class="row text-center">
            <div class="col-xs-3 col-sm-3 col-md-3"><%= @bouncehouse.bouncehouse_type %></div>
            <!--<div class="col-xs-3 col-sm-3 col-md-3"><= @bouncehouse. %></div>-->
            <!--<div class="col-xs-3 col-sm-3 col-md-3"><= @bouncehouse. %></div>-->
            <!--<div class="col-xs-3 col-sm-3 col-md-3"><= @bouncehouse. %></div>-->
          </div>
        </div>  
        <hr/>
      
        <!-- About -->
        <div class="container">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">Description</div>
              <div class="panel-body">
                <div class="container">
                  <p><%= @bouncehouse.description %></p>
                </div>  
              </div>
            </div>
          </div>
        </div>

        <!-- CAROUSEL -->
        <div class="container">
          <div class="row">  
            <% if @photos.length > 0 %>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <% @photos.each do |photo| %>
                    <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
                  <% end %>
                </ol>
        
                <!--Wrapper for slides -->
                <div class="carousel-inner">
                  <% @photos.each do |photo| %>
                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                      <%= image_tag photo.image.url() %>
                    </div>
                  <% end %>
                </div>
        
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <% end %>
          </div>
        </div>  
        <br/>
      
        <!-- REVIEWS -->
        <div class="container">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">Reviews (<%= @guest_reviews.count %>) <span id="average_rating"></span></div>
              <div class="container">
                <div class="panel-body">
                  <div><%= render "reviews/guest_list" %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- OTHER BOUNCE HOUSES -->
        <div class="container">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">What Other Customers Purchased</div>
                <% for bouncehouse in @bouncehouse.nearbys(10) %>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading preview">
                    <%= image_tag bouncehouse.cover_photo(:medium) %>
                    <div class="price-box-wrapper pull-right">$<%= bouncehouse.price %></div>
                  </div>
                      
                  <div class="panel-body">
                    <div class="container">
                      <%= link_to bouncehouse.listing_name, bouncehouse %><br/>
                    </div>
                  </div>
                </div>  
              </div>
              <% end %>  
            </div>
          </div>
        </div>  
      </div>
    
      <!-- RIGHT PANEL -->
      <div class="col-md-4">
        <!-- RESERVATION FORM -->
        <%= render 'reservations/form' %>
      </div>
    </div>
  </div>
</section>  
  
    <script>
      $('#average_rating').raty({
        path: '/assets',
        readOnly: true,
        score: <%= @bouncehouse.average_rating %>
      });
    </script>