<header class="page-header bg-img-cover overlay overlay-primary overlay-90 page-header-dark" style="background-image: url('https://www.canyonpartyrental.com/wp-content/uploads/2019/06/IMG_1244.jpg');">
  <div class="page-header-content py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 banner">
          <h1><span class="text-red">Unique Personalized</span> Rugs.</h1>
          
          <div class="">
			    	<div class="col-md-6">
			        <%= form_tag search_path, method: :get do %>
			        
			        <%= text_field_tag :search, params[:search], placeholder: "Search Rugs", class: "form-control", id: "autolocation" %>
			      </div>&nbsp;
			        
			      <div class="col-md-2">
			        <%= submit_tag "Search", class: "btn btn-form" %>
			      </div>
			    </div>
			    <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <sbpro-border>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 10.34" preserveAspectRatio="none" fill="currentColor"></svg>
  </sbpro-border>
</header>

<br>

<!-- RUGS -->
<div class="text-center"><h2>Browse Our Rugs</h2>
  <p>Browse our Assortment of Rugs</p>
</div>
<br/>

<section class="">
  <div class="container">
    <div class="row">
      <%= render partial: "rugs/rugs_list", locals: {rugs: @rugs} %>
    </div>
  </div>
</section>  

<!--<h2 class="col-md-12 banner"><span class="text-blue">Why use</span> rugCrasher</h2>-->

<!-- HOW It WORKS -->
<section class="">
  <div class="container">
    <div class="page-section">
      <div class="banner text-center">
       	<h2 class="text-blue">How it Works</h2>
        <h3></h3>
      </div>
        
      <div class="row text-center">
        <div class="col-md-4">
        <div class="fas fa-search fa-4x text-blue"></div>
          <h3 class="my-3">Register and Look Around</h3>
          <p class="text-center">Explore our various assortment of rugs.</p>
        </div>
                          
        <div class="col-md-4">
        <div class="fas fa-envelope fa-4x text-blue"></div>
          <h3>Send Us a Message</h3>
          <p class="text-center">Send us a message about your design and we will respond to you in a timely manner.</p>
        </div>
                          
        <div class="col-md-4">
        <div class="fas fa-credit-card fa-4x text-blue"></div>
         	<h3>Purchase Your Unique Rug</h3>
         	<p class="text-center">Using our secure online checkout, custermers will be able to pay using any major credit or debit card.</p>
        </div>
        
        <div class="row">
          <div class="banner col-lg-12 text-center">
            <button class="btn btn-form">
              <%= link_to "Register Now", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
            </button>
          </div>
        </div>
      </div>
   </div>   
  </div>
</section>